$navBarHeight: 70px;
$navBarOffset: 10px;
$navTitleHeight: 60px;

.navBarContainer {
  position: absolute;
  width: 100%;
  min-width: 520px;
  transition-property: top;
  transition-duration: 0.5s;
  margin-top: $navBarOffset;

  .navBar {
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    box-shadow: 5px 5px 15px #888888;
    height: $navBarHeight;

    .navTitleContainer {
      font-size: 2em;
      height: $navBarHeight;

      .navTitle {
        line-height: $navTitleHeight;
        text-align: center;
        background-color: #AFFFF0;
        border-radius: $navTitleHeight/2;
        height: $navTitleHeight;
        width: $navTitleHeight;
        margin: 5px auto;
        box-shadow: 3px 3px 15px #888888;

        &:hover {
          cursor: pointer;
        }

        .navTitleText {
          vertical-align: center;
          display: inline-block;
          line-height: normal;
        }
      }
    }

    .navMenu {
      height: $navBarHeight;
      position: relative;

      .navMenuChoices {
        padding-bottom: 6px;
        display: inline-block;
        position: absolute;
        bottom: 0;
        right: 0;

        a {
          //color: black;
          border-radius: 5px;
          // &::after { border-color: black transparent; }
          &:hover { background-color: #AFFFF0; }
        }

        .is-dropdown-submenu {
          background-color: rgb(245, 245, 245);
          border-radius: 5px;
        }
      }
    }
  }
}

// This class exists to offset anything that would otherwise fall underneath the navBar
.navOffset {
  height: $navBarHeight + $navBarOffset;
  min-width: 520px;
}