@import 'shared/variables';

$navBarHeight: 70px;
$navBarOffset: 10px;
$navTitleHeight: 60px;

.navBarContainer {
  position: absolute;
  width: 100%;
  min-width: 520px;
  @include transition-property(top);
  @include transition-duration(0.5s);
  margin-top: $navBarOffset;
  z-index: 100;

  .navBar {
    background-color: $lightGray;
    border-radius: 10px;
    box-shadow: 5px 5px 15px $lightGrayShadow;
    height: $navBarHeight;

    .navTitleContainer {
      font-size: 2em;
      height: $navBarHeight;

      .navTitle {
        line-height: $navTitleHeight;
        text-align: center;
        background-color: $lightTeal;
        border-radius: $navTitleHeight/2;
        height: $navTitleHeight;
        width: $navTitleHeight;
        margin: 5px auto;
        box-shadow: 3px 3px 15px $lightGrayShadow;

        &:hover {
          cursor: pointer;
          color: $strongBlue;
          @include transition-property(color);
          @include transition-duration(0.3s);
        }

        .navTitleText {
          vertical-align: center;
          display: inline-block;
          line-height: normal;
        }
      }
    }

    .navMenu {
      height: $navBarHeight;
      position: relative;

      .navMenuChoices {
        padding-bottom: 6px;
        display: inline-block;
        position: absolute;
        bottom: 0;
        right: 0;

        a {
          //color: black;
          border-radius: 5px;
          // &::after { border-color: black transparent; }
          &:hover {
            color: $strongBlue;
            @include transition-property(color);
            @include transition-duration(0.3s);
          }
        }

        .is-dropdown-submenu {
          background-color: $lightGray;
          border-radius: 5px;
        }
      }
    }
  }
}

// This class exists to offset anything that would otherwise fall underneath the navBar
.navOffset {
  height: $navBarHeight + $navBarOffset;
  min-width: 520px;
}