.navBarContainer {
  position: fixed;
  width: 100%;
  min-width: 430px;

  .navBar {
    background-color: rgb(245, 245, 245);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 5px 5px 15px #888888;
    height: 70px;

    .navTitleContainer {
      font-size: 2em;
      height: 70px;

      .navTitle {
        line-height: 60px;
        text-align: center;
        background-color: #AFFFF0;
        border-radius: 30px;
        height: 60px;
        width: 60px;
        margin: 5px auto;
        box-shadow: 3px 3px 15px #888888;

        &:hover {
          cursor: pointer;
        }

        .navTitleText {
          vertical-align: center;
          display: inline-block;
          line-height: normal;
        }
      }
    }

    .navMenu {
      height: 70px;
      position: relative;

      .navMenuChoices {
        padding-bottom: 6px;
        display: inline-block;
        position: absolute;
        bottom: 0;
        right: 0;

        a {
          color: black;
          border-radius: 5px;
          &::after { border-color: black transparent; }
          &:hover { background-color: #AFFFF0; }
        }

        .is-dropdown-submenu {
          background-color: rgb(245, 245, 245);
          border-radius: 5px;
        }
      }
    }
  }
}

// This class exists to offset anything that would otherwise fall underneath the navBar
.navOffset {
  height: 70px;
}