$minBodyWidth: 520px;

// Colors
$lightGrayShadow: rgba(107, 107, 107, 0.52);
$lightTeal: #AFFFF0;
$teal: #8EE6D2;
$lightGray: #f7f7f7;
$gray: #717377;
$strongBlue: #291ECE;
$lightBlue: #99B8FF;
$primaryColor: #5769E6;
$primaryContrast: #E09258;
$deepContrast: #944F1D;
$lightContrast: #EAAC7F;
$whiteContrast: #FFFBF2;

// Mixins

// http://codepen.io/sawmac/pen/cayhK/
@mixin transition($transition...) {
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}
@mixin transition-property($property...) {
  -moz-transition-property:    $property;
  -o-transition-property:      $property;
  -webkit-transition-property: $property;
  transition-property:         $property;
}
@mixin transition-duration($duration...) {
  -moz-transition-duration:    $duration;
  -o-transition-duration:      $duration;
  -webkit-transition-duration: $duration;
  transition-duration:         $duration;
}
@mixin transition-timing-function($timing...) {
  -moz-transition-timing-function:    $timing;
  -o-transition-timing-function:      $timing;
  -webkit-transition-timing-function: $timing;
  transition-timing-function:         $timing;
}
@mixin transition-delay($delay...) {
  -moz-transition-delay:    $delay;
  -o-transition-delay:      $delay;
  -webkit-transition-delay: $delay;
  transition-delay:         $delay;
}