<div id="navBar" class="navBarContainer">
  <div class="navBar row columns medium-offset-1 medium-10 small-12">
    <div class="columns small-2 large-1 navTitleContainer">
      <a href="/">
        <div class="navTitle">
          <span class="navTitleText">JR</span>
        </div>
      </a>
    </div>
    <div class="columns small-10 large-11 navMenu">

      <div class="navMenuChoices">
        <ul class="dropdown menu" data-dropdown-menu>
          <li><a href="/about">About Me</a></li>
          <li>
            <a href="/projects">Projects</a>
            <ul class="menu">
              <li><a href="/projects/school">School</a></li>
              <li><a href="/projects/personal">Personal</a></li>
            </ul>
          </li>
          <li><a href="/songs/covers">Zelda Music Covers</a></li>
          <li><a href="/songs/originals">Original Music</a></li>
        </ul>
      </div>

    </div>
  </div>
</div>

<!-- This div exists to offset anything that would otherwise fall underneath the navBar -->
<div class="navOffset"></div>