<div class="descriptionCard">
  <img src="<%= image_path "jorge.jpg" %>">

  <h5>Looking for Me?</h5>
  <p>
    <a href="https://ca.linkedin.com/in/jorgeramirezarredondo" target="_blank">
      <i class="fa fa-linkedin-square"></i> Check out my LinkedIn
    </a>
    <br>
    <a href="mailto:jorge.ramirez.arredondo@gmail.com">
      <i class="fa fa-envelope"></i> Email me
    </a>
  </p>

  <h5>Want Sample Code?</h5>
  <p>
    <a href="https://github.com/MeMark2" target="_blank">
      <i class="fa fa-github"></i> View my GitHub
    </a>
  </p>

  <h5>Like My Music?</h5>
  <p>
    <a href="https://www.youtube.com/user/lMeMark42l" target="_blank">
      <i class="fa fa-youtube-play"></i> Listen to my covers
    </a>
    <br>
    <a href="https://soundcloud.com/markoftwo" target="_blank">
      <i class="fa fa-soundcloud"></i> Or my original music
    </a>
    <br>
    <a href="http://markoftwonotes.tumblr.com/" target="_blank">
      <i class="fa fa-tumblr-square"></i> Follow my blog
    </a>
  </p>
</div>
