<% content_for :title do %>
  JR | About
<% end %>

<!-- Render the fixed navigation bar -->
<%= render "shared/nav_bar" %>

<div class="contentArea row columns medium-offset-1 medium-10 small-12">

  <!-- Side card -->
  <div class="columns small-5 medium-4 large-3">
    <div class="descriptionCard">
      <img src="<%= image_path "jorge.jpg" %>">

      <h5>Looking for me?</h5>
      <p>
        <a href="https://ca.linkedin.com/in/jorgeramirezarredondo">
          <i class="fa fa-linkedin-square"></i> Check out my LinkedIn
        </a>
        <br>
        <a href="mailto:jorge.ramirez.arredondo@gmail.com">
          <i class="fa fa-envelope"></i> Email me
        </a>
      </p>

      <h5>Want Sample code?</h5>
      <p>
        <a href="https://github.com/MeMark2">
          <i class="fa fa-github"></i> View my GitHub
        </a>
      </p>

      <h5>Like my music?</h5>
      <p>
        <a href="https://www.youtube.com/user/lMeMark42l">
          <i class="fa fa-youtube-play"></i> Listen to my covers
        </a>
        <br>
        <a href="https://soundcloud.com/markoftwo">
          <i class="fa fa-soundcloud"></i> Or my original music
        </a>
        <br>
        <a href="http://markoftwonotes.tumblr.com/">
          <i class="fa fa-tumblr-square"></i> Follow my blog
        </a>
      </p>
    </div>
  </div>

  <!-- Main panel -->
  <div class="columns small-7 medium-8 large-9">
    <div class="contentCard">
      <!-- heading -->
      <div class="division"><div class="bubble">
        <h4>Hi, I'm Jorge.</h4>
      </div></div>
      <!-- description -->
      <div class="division"><div class="bubble">
        <p>I am a software engineering student at Conestoga College</p>
      </div></div>
    </div>
  </div>
</div>