<% content_for :title do %>
  JR | About
<% end %>

<!-- Render the fixed navigation bar -->
<%= render "shared/nav_bar" %>

<div class="contentArea row columns medium-offset-1 medium-10 small-12">

  <!-- Side card -->
  <div class="columns small-5 medium-4 large-3">
    <%= render "links_card" %>
  </div>

  <!-- Main panel -->
  <div class="columns small-7 medium-8 large-9">
    <div class="contentCard">
      <!-- heading -->
      <div class="division"><div class="bubble">
        <h4>Hi, I'm Jorge.</h4>
      </div></div>

      <!-- description -->
      <div class="division"><div class="bubble">
        <p>
          I am a software engineering student at Conestoga College with a great passion for video games. With great hopes of turning a life-long passion into a life-long career, I seek for any opportunity to apply my current knowledge and expand my skillset in all aspects of game development.
          <br><br>
          The <a href="http://www.conestogac.on.ca/fulltime/1132C.jsp" target="_blank">Software Engineering Technology</a> program at Conestoga College has brought me much hands-on experience as well as theoretical knowledge in all facets of software development. This program has helped me develop skills in areas ranging from low-level programming in assembly and C to object oriented environments using C++, C#, .Net and Java. I have enjoyed learning about databse design, web, mobile and windows development. My education has also been rounded out by learning about the SDLC, various forms of requirements gathering, proper project documentation, development methodologies and general development best practices.
          <br><br>
          Having been raised on a steady diet of Nintendo games from a young age and spending the earnings from my first job on my very own gaming computer, it feels like video games have always been a central part of my life. Not being satisfied with just playing the games, much of my spare time has been spent learning about their history, their cultural impact, their development and the future of the industry. More than just toys, it has become obvious that this new medium of art and entertainment is set to be one of the biggest driving forces of culture for current and future generations. And, I am extremely excited to take part in this adventure.
        </p>
      </div></div>
    </div>
  </div>
</div>