<% content_for :title do %>
  JR
<% end %>

<!-- Render the fixed navigation bar -->
<%= render "shared/nav_bar" %>

<div class="contentArea row columns medium-offset-1 medium-10 small-12">
  <!-- Side card -->
  <div class="columns small-5 medium-4 large-3">
    <%= render "links_card" %>
  </div>
</div>