<% content_for :title do %>
  JR
<% end %>

<!-- Render the fixed navigation bar -->
<%= render "shared/nav_bar" %>


<div class="scrollTest1"></div>
<div class="scrollTest2"></div>
<div class="scrollTest3"></div>