<% content_for :title do %>
  JR
<% end %>

<!-- Render the fixed navigation bar -->
<%= render "shared/nav_bar" %>


<div class="scrollTest1">testing</div>
<div class="scrollTest2">testing</div>
<div class="scrollTest3">testing</div>