<% content_for :title do %>
  JR
<% end %>

<div class="row navBar">
  <div class="column small-2 navTitle">
    <h1>Tada!</h1>
  </div>
  <div class="column small-10 navRest">
    <p>Guess who has a website with his name on it now?</p>
  </div>
</div>


