<% content_for :title do %>
  JR
<% end %>

<!-- Render the fixed navigation bar -->
<%= render "shared/nav_bar" %>

<div class="contentArea row columns medium-offset-1 medium-10 small-12">
  <!-- Side card -->
  <div class="columns small-5 medium-4 large-3">
    <%= render "links_card" %>
  </div>

  <!-- Main panel -->
  <div class="columns small-7 medium-8 large-9">
    <div class="contentCard">
      <!-- heading -->
      <div class="division"><div class="bubble">
        <h4>Welcome to My Portfolio</h4>
      </div></div>

      <!-- description -->
      <div class="division"><div class="bubble">
        <p>
          Hello there, my name is Jorge Ramirez.
        </p>
        <p>
          Having numerous interests and being currently enrolled in Conestoga College's <a href="http://www.conestogac.on.ca/fulltime/1132C.jsp" target="_blank">Software Engineering Technology</a> program, here you will find a wide variety of projects that I've had the opportunity to work on. Software development, musical composition, game design and creative writing are among the many disciplines that I've had the pleasure of exploring while taking these projects on.
        </p>
        <p>
          If you'd like to learn more about me, visit the <a href="/about">About Me</a> page.<br>
          If you're interested in viewing my school projects, you can find those <a href="/projects/school">here</a>.<br>
          If you're interested in viewing my personal projects, those can be found <a href="/projects/personal">here</a>.<br>
          If you want to hear my music, I have both <a href="/songs/covers">video game covers</a> and <a href="/songs/originals">original works</a>.
        </p>
      </div></div>
    </div>
  </div>
</div>