<% content_for :title do %>
  JR | Projects
<% end %>

<!-- Render the fixed navigation bar -->
<%= render "shared/nav_bar" %>

<div class="contentArea row columns medium-offset-1 medium-10 small-12">

  <div class="contentBox">
      <!-- heading -->
      <div class="division"><div class="bubble">
        <h4>My Projects</h4>
      </div></div>

      <!-- descriptions -->
      <div class="division row columns">
        <div class="columns small-12 large-6">
          <a href="/projects/school">
            <div class="bubble linkBubble">
              <h4>School</h4>
              <p>
                Enrolled as a software engineering student, I've had the opportunity to learn about and work with countless software development technologies. Whether it be solo work or as part of a team, the projects I work on for my program are always pushing me to achieve more. Click here if you're interested in viewing some of my recent school projects.
              </p>
            </div>
          </a>
        </div>

        <div class="columns small-12 large-6">
          <a href="/projects/personal">
            <div class="bubble linkBubble">
              <h4>Personal</h4>
              <p>
                Being a creator at heart, I can't help but put my mind to work on projects of my choosing. Whether it be small projects for my own entertainment or more ambitious projects in an attempt to make my mark in the world of video games,  I am always working on some project or another of my own. Click here if you'd like to see what I've been working on.
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
</div>