<% content_for :title do %>
  JR | Personal Projects
<% end %>

<!-- Render the fixed navigation bar -->
<%= render "shared/nav_bar" %>

<div class="contentArea row columns medium-offset-1 medium-10 small-12">

  <!-- Expandable description -->
  <div class="contentBox">
    <div class="descriptionHeader"
      onclick="toggleExpandable('description');toggleClasses('descriptionIcon', 'fa-angle-right', 'fa-angle-down');">
      <span class="headerText">Personal Projects</span> <i id="descriptionIcon" class="fa fa-angle-down"></i>
    </div>
    <div id="description" class="expandable expanded">
      <div class="content expandableContent">
        <p>
          Here I will focus on showcasing the range of my personal interests.
        </p>
        <p>
          In progress checklist:
        </p>
        <ul>
          <li>Hex Grid RPG</li>
          <li style="text-decoration: line-through;">Portfolio Website</li>
          <li>Character AI Design Concepts</li>
          <li>World Building</li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Expandable content boxes -->
  <div class="contentBox">
    <div class="header"
      onclick="toggleExpandable('project1');toggleClasses('project1Icon', 'fa-angle-right', 'fa-angle-down');">
      <span class="headerText">Hex Grid RPG</span> <i id="project1Icon" class="fa fa-angle-right"></i>
    </div>
    <div id="project1" class="expandable">
      <div class="content expandableContent">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div>

  <div class="contentBox">
    <div class="header"
      onclick="toggleExpandable('project2');toggleClasses('project2Icon', 'fa-angle-right', 'fa-angle-down');">
      <span class="headerText">Portfolio Website</span> <i id="project2Icon" class="fa fa-angle-right"></i>
    </div>
    <div id="project2" class="expandable">
      <div class="content expandableContent">
        <p>
          Built using Ruby on Rails, this portfolio allows me to show off some of the skills I developed as an intern for Chalk.com. Primarily, I had the chance to get back into using CoffeeScript, SCSS, and the Embedded Ruby that Rails provides.
        </p>
        <p>
          Knowing full well that the portfolio would be a rather simple website, I did not spend much time focusing on adding a wide range of libraries to the site. Instead, I focused on primarily using the base installation of Rails and just added Foundation to help with some of the more fluid elements of the website design.
        </p>
        <p>
          For the sake of quickly producing a functional site, I chose to hardcode the website content instead of dynamically generating it. However, future plans for the site do include implementation of a proper database and dynamic generation of all major website elements.
        </p>
        <p>
          The source code for the site is freely available on <a href="https://github.com/MeMark2">my GitHub</a> under the GNU General Public License. Feel free to take a look at the source <a href="https://github.com/MeMark2/PortfolioWebsite">here</a>.
        </p>
      </div>
    </div>
  </div>

  <div class="contentBox">
    <div class="header"
      onclick="toggleExpandable('project3');toggleClasses('project3Icon', 'fa-angle-right', 'fa-angle-down');">
      <span class="headerText">Character AI Design Concepts</span> <i id="project3Icon" class="fa fa-angle-right"></i>
    </div>
    <div id="project3" class="expandable">
      <div class="content expandableContent">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div>

  <div class="contentBox">
    <div class="header"
      onclick="toggleExpandable('project4');toggleClasses('project4Icon', 'fa-angle-right', 'fa-angle-down');">
      <span class="headerText">World Building</span> <i id="project4Icon" class="fa fa-angle-right"></i>
    </div>
    <div id="project4" class="expandable">
      <div class="content expandableContent">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div>
</div>