<% content_for :title do %>
  JR | Personal Projects
<% end %>

<!-- Render the fixed navigation bar -->
<%= render "shared/nav_bar" %>

<div class="contentArea row columns medium-offset-1 medium-10 small-12">

  <!-- Expandable description -->
  <div class="contentBox">
    <div class="descriptionHeader"
      onclick="toggleExpandable('description');toggleClasses('descriptionIcon', 'fa-angle-right', 'fa-angle-down');">
      <span class="headerText">Personal Projects</span> <i id="descriptionIcon" class="fa fa-angle-down"></i>
    </div>
    <div id="description" class="expandable expanded">
      <div class="content expandableContent">
        <p>
          Here I will focus on showcasing the range of my personal interests.
        </p>
        <p>
          In progress checklist:
        </p>
        <ul>
          <li>Hex Grid RPG</li>
          <li style="text-decoration: line-through;">Portfolio Website</li>
          <li style="text-decoration: line-through;">Conversational Character AI</li>
          <li>World Building</li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Expandable content boxes -->
  <!-- Like the cards in the music pages, these expandable boxes will be dynamically generated in a future update -->
  <div class="contentBox">
    <div class="header"
      onclick="toggleExpandable('project1');toggleClasses('project1Icon', 'fa-angle-right', 'fa-angle-down');">
      <span class="headerText">Hex Grid RPG</span> <i id="project1Icon" class="fa fa-angle-right"></i>
    </div>
    <div id="project1" class="expandable">
      <div class="content expandableContent">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div>

  <div class="contentBox">
    <div class="header"
      onclick="toggleExpandable('project2');toggleClasses('project2Icon', 'fa-angle-right', 'fa-angle-down');">
      <span class="headerText">Portfolio Website</span> <i id="project2Icon" class="fa fa-angle-right"></i>
    </div>
    <div id="project2" class="expandable">
      <div class="content expandableContent">
        <p>
          Built using Ruby on Rails, this portfolio allows me to show off some of the skills I developed as an intern for Chalk.com. Primarily, I had the chance to get back into using CoffeeScript, SCSS, and the Embedded Ruby that Rails provides.
        </p>
        <p>
          Knowing full well that the portfolio would be a rather simple website, I did not spend much time focusing on adding a wide range of libraries to the site. Instead, I focused on primarily using the base installation of Rails and just added Foundation to help with some of the more fluid elements of the website design.
        </p>
        <p>
          For the sake of quickly producing a functional site, I chose to hardcode the website content instead of dynamically generating it. However, future plans for the site do include implementation of a proper database and dynamic generation of all major website elements.
        </p>
        <p>
          The source code for the site is freely available on <a href="https://github.com/MeMark2">my GitHub</a> under the GNU General Public License. Feel free to take a look at the source <a href="https://github.com/MeMark2/PortfolioWebsite">here</a>.
        </p>
      </div>
    </div>
  </div>

  <div class="contentBox">
    <div class="header"
      onclick="toggleExpandable('project3');toggleClasses('project3Icon', 'fa-angle-right', 'fa-angle-down');">
      <span class="headerText">Conversational Character AI</span> <i id="project3Icon" class="fa fa-angle-right"></i>
    </div>
    <div id="project3" class="expandable">
      <div class="content expandableContent">
        <p>
          The field of game design is constantly evolving and new areas of design are always coming to light. One area that has more recently entered the consciousness of the design community is the concept of player-driven storytelling.
        </p>
        <p>
          Creating games that allow players to live their own stories rather than games that push players through carefully scripted events is an area of game design with much unexplored territory. By designing a system for randomly generating character AI with different personalities, the capacity for forming their own thoughts and the ability to communicate with the player, I hope to do my part in exploring this new frontier.
        </p>
        <p>
          For this project, I rely heavily on the notion that, in games, AI doesn't have to perfectly imitate the intricacies of the human psyche, but rather, it just has to create the illusion of human-like thought. This allows me to bypass major issues that plague more realistic attempts at AI development involving natural language processing, personality psychology, and human learning.
        </p>
        <p>
          Taking inspiration from Shadow of Mordor's Nemesis System, FTL's indispensable crew members, and the way in which the Nuzlocke challenge changes the way players think about Pokemon, my main goal with this project is to create AI that players can relate to, feel an emotional connection with, and ultimately, share a story with.
        </p>
      </div>
    </div>
  </div>

  <div class="contentBox">
    <div class="header"
      onclick="toggleExpandable('project4');toggleClasses('project4Icon', 'fa-angle-right', 'fa-angle-down');">
      <span class="headerText">World Building</span> <i id="project4Icon" class="fa fa-angle-right"></i>
    </div>
    <div id="project4" class="expandable">
      <div class="content expandableContent">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div>
</div>