<% content_for :title do %>
  JR | Personal Projects
<% end %>

<!-- Render the fixed navigation bar -->
<%= render "shared/nav_bar" %>

<div class="contentArea row columns medium-offset-1 medium-10 small-12">

  <!-- Expandable description -->
  <div class="contentBox">
    <div class="descriptionHeader"
      onclick="toggleExpandable('description');toggleClasses('descriptionIcon', 'fa-angle-right', 'fa-angle-down');">
      <span class="headerText">Personal Projects</span> <i id="descriptionIcon" class="fa fa-angle-down"></i>
    </div>
    <div id="description" class="expandable expanded">
      <div class="content expandableContent">
        <p>
          Here you will find a small collection of the personal projects that I have been working on:
        </p>
        <ul>
          <li>An experimental RPG battle system</li>
          <li>The code for this very website</li>
          <li>A system for creating procedurally generated video game characters with personality</li>
          <li>Fictional world writing</li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Expandable content boxes -->
  <!-- Like the cards in the music pages, these expandable boxes will be dynamically generated in a future update -->
  <div class="contentBox">
    <div class="header"
      onclick="toggleExpandable('project1');toggleClasses('project1Icon', 'fa-angle-right', 'fa-angle-down');">
      <span class="headerText">Time-Slice RPG</span> <i id="project1Icon" class="fa fa-angle-right"></i>
    </div>
    <div id="project1" class="expandable">
      <div class="content expandableContent">
        <p>
          Originally intended as a simple battle system to accompany a text-based RPG, this battle system evolved into a more complicated concept that became its own undertaking.
        </p>
        <p>
          Inspired by the importance of timing and the moment-to-moment decision making found in Dark Souls' combat system, I decided to try and emulate the same timing-based combat within a turn-based system.
        </p>
        <p>
          Rather than follow the standard turn-based tradition of having an action take a turn, I divide every action into a number of time slices that make up a whole action. Splitting all player and enemy actions over multiple game turns certainly creates a greater emphasis on timing actions, but it also comes with a slew of design problems to overcome.
        </p>
        <p>
          Some of the design problems I've been working to overcome include, the changes to possibility space with the increased granularity of control, maintaining battle flow in a system where every action takes multiple turns, and the complication of communicating all the turn-by-turn information quickly and intuitively.
        </p>
        <p>
          Feel free to follow the development of the first prototype <a href="https://github.com/MeMark2/MicroTimeRPGPrototype" target="_blank">here</a>.
        </p>
      </div>
    </div>
  </div>

  <div class="contentBox">
    <div class="header"
      onclick="toggleExpandable('project2');toggleClasses('project2Icon', 'fa-angle-right', 'fa-angle-down');">
      <span class="headerText">Portfolio Website</span> <i id="project2Icon" class="fa fa-angle-right"></i>
    </div>
    <div id="project2" class="expandable">
      <div class="content expandableContent">
        <p>
          Built using Ruby on Rails, this portfolio allows me to show off some of the skills I developed as an intern for Chalk.com. Primarily, I had the chance to get back into using CoffeeScript, SCSS, and the Embedded Ruby that Rails provides.
        </p>
        <p>
          Knowing full well that the portfolio would be a rather simple website, I did not spend much time focusing on adding a wide range of libraries to the site. Instead, I focused on primarily using the base installation of Rails and just added Foundation to help with some of the more fluid elements of the website design.
        </p>
        <p>
          For the sake of quickly producing a functional site, I chose to hardcode the website content instead of dynamically generating it. However, future plans for the site do include implementation of a proper database and dynamic generation of all major website elements.
        </p>
        <p>
          The source code for the site is freely available on <a href="https://github.com/MeMark2" target="_blank">my GitHub</a> under the GNU General Public License. Feel free to take a look at the source <a href="https://github.com/MeMark2/PortfolioWebsite" target="_blank">here</a>.
        </p>
      </div>
    </div>
  </div>

  <div class="contentBox">
    <div class="header"
      onclick="toggleExpandable('project3');toggleClasses('project3Icon', 'fa-angle-right', 'fa-angle-down');">
      <span class="headerText">Conversational Character AI</span> <i id="project3Icon" class="fa fa-angle-right"></i>
    </div>
    <div id="project3" class="expandable">
      <div class="content expandableContent">
        <p>
          The field of game design is constantly evolving and new areas of design are always coming to light. One area that has more recently entered the consciousness of the design community is the concept of player-driven storytelling.
        </p>
        <p>
          Creating games that allow players to live their own stories rather than games that push players through carefully scripted events is an area of game design with much unexplored territory. By designing a system for procedurally generating character AI with different personalities, the capacity for forming their own thoughts and the ability to communicate with the player, I hope to do my part in exploring this new frontier.
        </p>
        <p>
          For this project, I rely heavily on the notion that, in games, AI doesn't have to perfectly imitate the intricacies of the human psyche, but rather, it just has to create the illusion of human-like thought. This allows me to bypass major issues that plague more realistic attempts at AI development involving natural language processing, personality psychology, and human learning.
        </p>
        <p>
          Taking inspiration from Shadow of Mordor's Nemesis System, FTL's indispensable crew members, and the way in which the Nuzlocke challenge changes the way players think about Pokemon, my main goal with this project is to create AI that players can relate to, feel an emotional connection with, and ultimately, share a story with.
        </p>
      </div>
    </div>
  </div>

  <div class="contentBox">
    <div class="header"
      onclick="toggleExpandable('project4');toggleClasses('project4Icon', 'fa-angle-right', 'fa-angle-down');">
      <span class="headerText">World Building</span> <i id="project4Icon" class="fa fa-angle-right"></i>
    </div>
    <div id="project4" class="expandable">
      <div class="content expandableContent">
        <p>
          Hoping to turn a fun pastime into a breadth of content from which to draw from when choosing to tell my own stories, I have been working on developing detailed fictional worlds whenever I can find the time.
        </p>
        <p>
          Influenced by the works of Studio Ghibli, recent games by From Software, and even world mythologies, I spend great time and care into making sure that my worlds are detailed, fantastical, and distinctly my own.
        </p>
        <p>
          If you're interested in hearing more about my world building projects, prepare to hear overly-detailed explanations of my worlds, their history, and the reasoning behind every aspect of their creation.
        </p>
      </div>
    </div>
  </div>
</div>