<% content_for :title do %>
  JR | School Projects
<% end %>

<!-- Render the fixed navigation bar -->
<%= render "shared/nav_bar" %>

<div class="contentArea row columns medium-offset-1 medium-10 small-12">

  <!-- Expandable description -->
  <div class="contentBox">
    <div class="descriptionHeader"
      onclick="toggleExpandable('description');toggleClasses('descriptionIcon', 'fa-angle-right', 'fa-angle-down');">
      <span class="headerText">School Project Samples</span> <i id="descriptionIcon" class="fa fa-angle-down"></i>
    </div>
    <div id="description" class="expandable expanded">
      <div class="content expandableContent">
        <p>
          Here I will focus on showcasing relevant school projects I've worked on.
        </p>
        <p>
          In progress checklist:
        </p>
        <ul>
          <li style="text-decoration: line-through;">Unhappy Flying Reptiles</li>
          <li>SQ1 - EMS</li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Expandable content boxes -->
  <!-- Like the cards in the music pages, these expandable boxes will be dynamically generated in a future update -->
  <div class="contentBox">
    <div class="header"
      onclick="toggleExpandable('project1');toggleClasses('project1Icon', 'fa-angle-right', 'fa-angle-down');">
      <span class="headerText">Unhappy Flying Reptiles</span> <i id="project1Icon" class="fa fa-angle-right"></i>
    </div>
    <div id="project1" class="expandable">
      <div class="content expandableContent">
        <p>
          A three part assignment for the Graphics Animation and Sound class running this semester, Unhappy Flying Reptiles combines elements from Angry Birds and Duck Hunt. Built in C++ and using GDI+ on an MFC foundation, this game serves as an introduction to the intricacies of working with graphics. Frame rates, colour correction, double buffering, and matrix transformations are some of the basic concepts we have been learning to work with in the process of creating this game.
        </p>
        <p>
          Run by the same professor that typically runs the Game Development class in the third year, the Graphics Animation and Sound class gives us an opportunity to explore some of the concepts present in game programming. As such, for this project, we have the opportunity to implement basic physics concepts such as gravity and collision detection as well as the game loop design pattern.
        </p>
        <p>
          To view the source for this project, feel free to take a look at <a href="https://github.com/MeMark2">my GitHub</a> account. The project is available under the MIT license and can be found <a href="https://github.com/MeMark2/UnhappyFlyingReptiles">here</a>.
        </p>
      </div>
    </div>
  </div>

  <div class="contentBox">
    <div class="header"
      onclick="toggleExpandable('project2');toggleClasses('project2Icon', 'fa-angle-right', 'fa-angle-down');">
      <span class="headerText">Employee Management System</span> <i id="project2Icon" class="fa fa-angle-right"></i>
    </div>
    <div id="project2" class="expandable">
      <div class="content expandableContent">
        <p>
          One of the larger projects of the program, the Employee Management System (EMS) was a multi-part project for our Software Quality class. Acting more as an exercise in team balance and cooperation, project management, and software documentation, our four person team was tasked with seeing the EMS through from initiation until implementation.
        </p>
        <p>
          From project charter, technical specification, and test plan to Microsoft Project schedule and Pivotal Tracker user stories, to development, testing and implementation, our professors made sure we worked through every step of the development process in order to understand what it takes to ensure quality in all aspects of software development.
        </p>
        <p>
          If you are interested in viewing sample code for this project, please <a href="mailto:jorge.ramirez.arredondo@gmail.com">contact me</a> to arrange viewing access to our private repository.
        </p>
      </div>
    </div>
  </div>

  <div class="contentBox">
    <div class="header"
      onclick="toggleExpandable('project3');toggleClasses('project3Icon', 'fa-angle-right', 'fa-angle-down');">
      <span class="headerText">Evernote Brochure</span> <i id="project3Icon" class="fa fa-angle-right"></i>
    </div>
    <div id="project3" class="expandable">
      <div class="content expandableContent">
        <a href="https://goo.gl/photos/3adMZk4ohkDzDRMF6" target="_blank"><img src="https://lh3.googleusercontent.com/V43mAeLaDX9wciWIImmtEW-L-XKM2Eyf5ZIfTFWXsOryh_wcdmuljPcG1EKW8S6BEkKxHnYfEprCnKi1bwOKLwG_MKhYBe7MUAdwIX7QXs5NSh9l83VoE_cKP7aDb9L7-2EdmAcmaopME4o1DzwzCCTbF4fzIZABPO-a5LdU78O-EuV7cgsucHdtof1NEFlH2JYm2d7W8FvdGrrUPgvX1K7RAPUXzitFGiMOUdaN2f-ovZDSEYzPhZ1y6f9OXMNB0xTSW40yQDkX9rvIsc7Gmr0mmu_xHSgtxPTWRkvASBjBchTIdfh1KU26uTKXnwxJ42gf2rCTtGh2b9xtGJOYyAM-TD09ti9zI4E_wi4h_QY359DhxZ4jpnggt3YcfmvGfZrcXlPM3T0_kkDYOVN0dp1UobG1CmFPVDaguGXY18fub107A85NobTxBRWYhsN_lXZSjm3UH0kO3rdUGu1p9gh7rD4rnnhVyA_JKDLqkc3_DtZ4Ao9CKKpFmtlN7I-QM8OE0tSQnqbNnfv6v3fUMcUV7CQvC9jXlJdGBSxbWDdVnISquKA-v05Ccvo5nFa9aV0=w853-h659-no"></a>
        <p>
          Tasked with designing and presenting a persuasive campaign for our Social Psychology class, my team and I agreed to produce a more traditional marketing campaign for the note-taking application <a href="https://evernote.com/">Evernote</a>. Taking upon myself to produce the presentation material for the campaign, I designed and composed a brochure as our primary visual component.
        </p>
        <p>
          Using Evernote's own promotional material as a basis from which to build on, and taking written material provided by my team, I put great care into constructing a piece of promotional material that could easily be mistaken for official Evernote content. Colour palettes, font choices, and the minimalist design were some of the most important considerations that went into designing the brochure.
        </p>
      </div>
    </div>
  </div>
</div>