// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.scrollTest1 {
  height: 200px;
  background-color: red;
}

.scrollTest2 {
  height: 300px;
  background-color: blue;
}

.scrollTest3 {
  height: 400px;
  background-color: green;
}